*{
   margin: 0;
   padding: 0;
}

header{
    background-color: brown;
    height: 300px;
}
body{
   text-align: center;
}
main{
    height: 2800px;
    background-color: dimgray;

}
footer{
   display: flex;
   height: 250px;
   color: white ;
   background-color: black;
}
.card{
   /* border: red solid 2px; */
   background-color: rgb(255, 255, 255);
   height: auto;
   width: 400px;
   margin: 10px;
   padding: 10px;
   color: black;
   border-radius: 5px;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   text-align: center;
   display: flex;
   justify-content: end;
   align-items: center;
   flex-direction: column;
}
.card:hover{
   box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.botao{
   border: 2px red;
   border-radius: 5px;
   width: 200px;
   color: red;
   font-size: large;
   
}
/* muda cor do botao e do texto */

.botao:hover{
   color: white;
   background-color: red;
}
.games{
   background-color: dimgray;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.menu{
   background-color: aliceblue;
   padding: 15px;
}
.menu a{
   text-decoration: none;
   font-size: larger;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   color: black;
   transition: 0.9s;
   padding: 5px;
}
.menu a:hover{
   color: black;
   text-decoration: underline;
   background-color: darkred;
   border-radius: 3px;
}

.menu li{
   display: inline;
   padding: 25px;
}
.logo{
   width: 210px;
   border-radius: 25%;
}
.video{
    display: flex;
    padding: 35px;
}
.carrinho{
   display: flex;
   width: 55px;
   margin-left: 1840px;
   padding: 5px;
   position: relative;
   top: -130px;
}